---
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: rhtap-e2e-runner
spec:
  params:
    - name: ocp-login-command
      type: string
      description: Command to log in to the OpenShift cluster where the tests will be executed.
    - name: oci-container
      type: string
      description: The URI of the OCI container registry to store test artifacts.
      default: "quay.io/konflux-test-storage/rhtap-team/rhtap-e2e"
    - name: rhtap-e2e-container
      type: string
      default: "quay.io/rhtap/rhtap-e2e:latest"
    - name: job-spec
      type: string
      description: "The job specification containing details of the test execution."
    - name: scm_config
      type: string
      description: "The SCM option for rhtap-cli installation. Valid values are 'github' , 'gitlab' and 'bitbucket'."
    - name: pipeline_config
      type: string
      description: "The Pipeline option for rhtap-cli installation. Valid values are 'tekton' and 'jenkins'."
    - name: ocp-version
      type: string
      description: "The OpenShift version to be used for the test execution."
  volumes:
    - name: rhtap-cli-volume
      secret: 
        secretName: rhtap-cli-install
    - name: konflux-test-infra-volume
      secret:
        secretName: konflux-test-infra
  steps:
    - name: e2e-test
      image: $(params.rhtap-e2e-container)
      workingDir: /workspace
      computeResources:
        limits:
          memory: 6Gi
        requests:
          cpu: 100m
          memory: 3Gi
      volumeMounts:
        - name: rhtap-cli-volume
          mountPath: /usr/local/rhtap-cli-install
        - name:  konflux-test-infra-volume
          mountPath: /usr/local/konflux-test-infra
      env:
        - name: OCI_CONTAINER
          value: $(params.oci-container)
        - name: JOB_SPEC
          value: $(params.job-spec)
      script: |
        #!/usr/bin/env bash
        set -o errexit
        set -o nounset
        set -o pipefail
        set -x

        # Log into OpenShift
        $(params.ocp-login-command)

        echo "[DEBUG] JOB_SPEC: $JOB_SPEC"

        export GIT_REPO="$(echo "$JOB_SPEC" | jq -r '.git.repo // empty')"
        echo "[INFO] GIT_REPO is set to $GIT_REPO"

        if [ -z "$GIT_REPO" ]; then
        # TODO - when fully switched to test-metadata v0.2, delete next 'if'
          echo "\$JOB_SPEC \`.git.repo\` is empty. Trying \`.git.git_repo\`"
          GIT_REPO="$(echo "$JOB_SPEC" | jq -r '.git.git_repo // empty')"
          if [ -z "$GIT_REPO" ]; then
            echo "[ERROR] GIT_REPO is not set in JOB_SPEC"
            exit 1
          fi 
        fi

        export OCP_VERSION=$(params.ocp-version)
        export SOFTWARE_TEMPLATES_FILE="softwareTemplates-${OCP_VERSION}.json"

        export JENKINS_ENABLED=$( [ "$(params.pipeline_config)" = "jenkins" ] && echo true || echo false )
        export TEKTON_ENABLED=$( [ "$(params.pipeline_config)" = "tekton" ] && echo true || echo false )
        export ACTIONS_ENABLED=$( [ "$(params.pipeline_config)" = "actions" ] && echo true || echo false )
        export GITLAB_ENABLED=$( [ "$(params.scm_config)" = "gitlab" ] && echo true || echo false )
        export GITHUB_ENABLED=$( [ "$(params.scm_config)" = "github" ] && echo true || echo false )
        export BITBUCKET_ENABLED=$( [ "$(params.scm_config)" = "bitbucket" ] && echo true || echo false )
        export GITLABCI_ENABLED=$( [ "$(params.pipeline_config)" = "gitlabci" ] && echo true || echo false )

        if [ "$GIT_REPO" = "rhtap-e2e" ]; then
          GIT_REVISION="${GIT_REVISION:-$(echo "$JOB_SPEC" | jq -r '.git.commit_sha')}"
          GIT_URL="${GIT_URL:-$(echo "$JOB_SPEC" | jq -r '.git.source_repo_url')}"

          echo -e "INFO: Cloning repository '$GIT_REPO' with revision '$GIT_REVISION' from URL '$GIT_URL'"
          git clone "${GIT_URL}" .
          git checkout "${GIT_REVISION}"

          ./integration-tests/scripts/rhtap-e2e-runner.sh
        else
          echo -e "INFO: Cloning repository 'redhat-appstudio/rhtap-e2e' with revision 'main'"
          git clone https://github.com/redhat-appstudio/rhtap-e2e.git .
          ./integration-tests/scripts/rhtap-e2e-runner.sh
        fi
